.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  z-index: 9999;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  box-shadow: 0px 0px 10px #25d366;
  padding: 8px;
}

.whatsapp:hover {
  box-shadow: 0px 0px 50px #25d366;
}

.icon_whatsapp {
  color: white;
}


@media screen and (max-width: 767px) {
  .whatsapp {
 
    right: 10px;
  
  }
}